.colum {
  width: 30%;
  float: left;
  margin: 15px; 
}

  .History {
    width: 50%;
    border: solid red;
    border-width: 5px;
    padding: 4px;
    background-color: rgb(212, 240, 247);
    margin-bottom: 5px;
    box-sizing: border-box;
  }

  .Now {
    width: 50%;
    border: solid rgb(82, 76, 155);
    border-width: 5px;
    padding: 4px;
    background-color: rgb(176, 226, 238);
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .Future {
    width: 50%;
    border: solid rgb(112, 17, 17);
    border-width: 5px;
    padding: 4px;
    background-color: rgb(148, 224, 207);
    margin-bottom: 10px;
    box-sizing: border-box;
  }
