body {
  background-color: rgb(228, 201, 221);
}
.me {
  font-size: 20px;
  margin-left:40%;
  text-align: center;
  color: rgb(111, 56, 161);
  width: 45%;
  padding: 20px;
  border: 1px solid rgb(102, 152, 165);
  border-width: 10px;
  background-color: rgb(236, 185, 221);
}
.img {
  margin-left: 11%;
  float:left;
  width: 11%;
  border: 2px solid rgb(102, 152, 165);
  border-width: 10px;
  background-color: rgb(236, 185, 221);
}
h1 {
  font-size: 50px;
  color: rgb(144, 41, 122);
  text-align: center;
}
h2 {
  width: 50%;
  text-align: left;
  font-size: 30px;
}
.column {
  float: left;
  margin: 35px;
}
.education {
  font-size:20px;
  text-align: left;
  width: 25%;
  border: solid rgb(20, 67, 121);
  border-width: 10px;
  background-color: rgb(206, 150, 192);
  padding: 20px;
  margin-left: 4%;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.experiences {
  font-size: 20px;
  text-align: left;
  width: 30%;
  border: solid rgb(116, 41, 97);
  border-width: 10px;
  background-color: rgb(185, 127, 168);
  padding: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.skills {
  font-size: 20px;
  text-align: left;
  width: 25%;
  padding: 20px;
  border: solid rgb(20, 67, 121);
  border-width: 10px;
  background-color: rgb(206, 150, 192);
  padding: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.project {
  font-size: 15px;
  border: 2px solid rgb(127, 189, 204);
  border-width: 5px;
  background-color: rgb(223, 183, 217);
  padding-left: 20px;
  margin-left: 10%;
  margin-top: 40%;
  margin-bottom: 10px;
  width: 80%;
  display: block;
  
}
.about {
  font-size: 30px;
  margin-left: 10%;
  text-align: left;
  color: rgb(184, 75, 151);
}
.highlight {
  color: red;
}




 
  

  